* {
  margin-right: 0px;
}
.experienceContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 30px;
  margin-bottom: 30px;
  height: 100%;
}

.experienceContainer h1 {
  font-size: 4rem;
  margin-top: 10px;
  background-color: #ff8177;
  background-image: linear-gradient(-50deg, #2042a8 50%, #66c6db 100%);
  background-size: 100%;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  justify-content: center;
  column-gap: 30px;
  row-gap: 30px;
  margin-top: 30px;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #242424;
  height: 450px;
  width: 350px;
  border-radius: 20px;
  overflow: hidden;
}

.card:hover {
  transform: scale(1.05);
  transition: all ease-in-out 0.3s;
}

.cardTitle {
  color: #66c6db;
  text-align: center;
  margin-top: 10px;
  font-weight: 400;
}

.card a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.card a:active {
  color: black;
}

.card img {
  max-width: 95%;
  max-height: 90%;
  margin-top: 10px;
  margin-bottom: 8px;
  border-radius: 5px;
}

.cardTechStack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.techStack {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #505050;
  margin: 5px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: #66c6db;
}

.techStack h3 {
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 450;
}

.cardButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #66c6db;
  margin: 25px 5px 5px 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 5px;
  color: black;
}

.cardButton:hover {
  cursor: pointer;
  transform: scale(1.1);
  transition: all ease-in-out 0.2s;
}

.cardButton a {
  text-decoration: none;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
}

@media only screen and (max-width: 1300px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 870px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}
